/** stylelint-disable value-keyword-case **/

/* border radius */
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;
$border-radius-xl: 16px;
$border-radius-xxl: 24px;

/* border width */
$border-width-s: 1px;
$border-width-m: 2px;

/* colors */
$color-primary: #2B2D33;
$color-white: #FFFFFF;
$color-wildsand: #F4F4F4;

/* font-sizes */
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

/* indent */
$indent-s1: 4px;
$indent-s2: 8px;
$indent-s3: 12px;
$indent-s4: 16px;
$indent-s5: 20px;
$indent-s6: 24px;
$indent-s7: 28px;
$indent-s8: 32px;
$indent-s9: 36px;
$indent-s10: 40px;
$indent-s11: 44px;
$indent-s12: 48px;
$indent-s13: 52px;
$indent-s14: 56px;
$indent-s15: 60px;
$indent-s16: 64px;
$indent-s17: 68px;
$indent-s18: 72px;

/* shadows */
$shadow-basic-xl: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
$shadow-basic-l: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
$shadow-basic-m: 0 2px 12px 0 rgba(0, 0, 0, 0.04);